@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.03em;
  font-weight: 500;
}

h1 {
  font-family: var(--font-inter);
  letter-spacing: -0.03em;
  font-weight: 800;
  line-height: 1.1;
}

h2, h3 {
  font-family: var(--font-inter);
  letter-spacing: -0.03em;
  font-weight: 700;
  line-height: 1.2;
}

h4, h5, h6 {
  font-family: var(--font-inter);
  letter-spacing: -0.03em;
  font-weight: 600;
  line-height: 1.2;
}

.font-sans {
  font-family: var(--font-inter);
  letter-spacing: -0.03em;
  font-weight: 500;
}

p {
  font-weight: 500;
}

strong {
  font-weight: 700;
}
